<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Express • TodoMVC</title>
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/css/login.css">
</head>

<body>
	<section class="prompt">
		<h3>TaskTapp</h3>
		<center><h1>Sign in</h1></center>

		<form action="/login/password" method="post">
			<section>
				<label for="username">Username</label>
				<input id="username" name="username" type="text" autocomplete="username" required autofocus>
			</section>
			<section>
				<label for="current-password">Password</label>
				<input id="current-password" name="password" type="password" autocomplete="current-password" required>
			</section>
			<button type="submit">Sign in</button>
		</form>
		<hr>

		<p class="help">Don't have an account? <a href="/signup">Sign up</a></p>
	</section>
	<footer class="info">

		<p>Authentication powered by <a href="https://www.passportjs.org">Passport</a></p>
	</footer>

</body>
<script>

const options = {
  enableHighAccuracy: true,
  timeout: 5000,
  maximumAge: 0,
};

function success(pos) {
  const crd = pos.coords;

  function getZipCodeFromLatLon(latitude, longitude) {
  // Replace the URL with the appropriate Nominatim API endpoint
  const apiUrl = `https://nominatim.openstreetmap.org/reverse?format=json&lat=${latitude}&lon=${longitude}&zoom=18&addressdetails=1`;


  fetch(apiUrl)
    .then(response => response.json())
    .then(data => {

      const zipCode = data?.address?.postcode;
      if (zipCode) {
		console.log(`Your zip code is: ${zipCode}, the accuracy of this may vary slightly`);

      } else {
        console.error('Unable to retrieve zip code from the API response.');
      }
    })
    .catch(error => {
      console.error('An error occurred while fetching the API:', error);
    });
}


const latitude = crd.latitude; 
const longitude = crd.longitude; 
getZipCodeFromLatLon(latitude, longitude);
}

function error(err) {
  console.warn(`ERROR(${err.code}): ${err.message}`);
}

navigator.geolocation.getCurrentPosition(success, error, options);
</script>

</html>